$font1: 'Gotham Bold', 'Gotham Rounded Light';
$font2: 'Helvetica Neue Light', 'Helvetica Neue Medium', 'Helvetica Neue Bold';
$reddish: #d35266;
$grey: #888;
$black: #383838;

body {
  background-color: #f6f6f6;
  font-family: $font2;
}

.btn-red {
  color: #fff;
  background-color: $reddish;
  border-color: $reddish;
}

// Navigation Bar //
.navbar {
  justify-content: center;
  align-items: center;
  background-color: $black;
  width: 100%;
  font-family: $font2;
  padding: 5px;

  .logo {
    color: #fff;
    font-size: 1rem;
  }

  div {
    @media (min-width: 768px) {
      font-size: 0.8rem;
      padding: 5px 10px;
    }

    font-size: 0.6rem;
    padding: 5px;

    a {
      color: $grey;
    }

    a:hover {
      text-decoration: none;
      color: $reddish;
    }
  }

  .navbar-nav {
    flex-direction: row;
  }

  li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.ad {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: $reddish;
  padding: 7px;

  @media (max-width: 768px) {
    display: none;
  }
}
// Main Banner
.main-banner {
  padding: 5% 0;
  background-color: $reddish;
  font-family: $font2;
  font-size: 0.8rem;

  h1 {
    color: #fff;
    font-size: 4em;
  }

  h2 {
    color: #fff;
    font-size: 95%;
    text-transform: capitalize;
  }

  button {
    background-color: $black;
    color: $grey;
    padding: 0.25rem;
    border: none;
    height: calc(1.5em + 0.75rem + 2px);
  }

  .dropdown-toggle::after {
    color: green;
  }

  .form-control {
    font-size: 0.7rem;
    border-radius: 0;
    border: none;
    padding: 5px;
  }

  .form-inline {
    width: 60%;
  }
}

.banner-heading {
  padding: 3% 0;
}
// Hot Ads

.main-heading {
  width: 70%;
  margin: 0 auto;
  color: $grey;
}

.hot-ads {
  background-color: #fff;
  width: 100%;
  padding: 1% 0;

  .grey-field {
    color: $grey;
    font-weight: bold;
  }

  .banner-purchase {
    margin-top: 5%;
  }

  .h2 {
    font-size: 0.6em;
  }

  .ad-item {
    flex-direction: column;
  }

  #main-carousel {
    width: 70%;
    margin: 0 auto;
    padding: 1% 0;
  }

  .carousel {
    img {
      height: 300px;
      width: 300px;
    }
  }
}

// Carousel Arrows

.carousel-control-next,
.carousel-control-prev {
  width: auto;
}

.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -40px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d35266' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d35266' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

// Categories

.categories {
  width: 60%;
  padding: 1%;
  margin: 0 auto;
}

.category {
  margin: 5% 0;
}

/*
    ----------------------
      Media Query 768px
    ----------------------
*/
@media (min-width: 768px) {
  .hot-ads {
    .ad-item {
      flex-direction: row;
    }

    .ad-content {
      padding: 0 4%;
    }
  }
}
